* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #90EE90;
  color: #fff;
}

.blog {
  padding: 30px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-size: 16x;
  margin-bottom: 10px;
}

.subtitle {
  color: 	#2E8B57;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.card {
  background-color: #3CB371;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.date {
  font-size: 14px;
  color: #98FB98;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 18px;
}

.card-content p {
  color: #cbd5f5;
  font-size: 14px;
}
